accelerate
astunparse
einops
evaluate
fairseq
flask
flatbuffers
fqdn
gast
google-pasta
h5py
inflect
isoduration
jsonpointer
jupyter
keras
libclang
midi2audio
miditoolkit
msgpack
music21
opt-einsum
rotary-embedding-tensorflow
scikit-learn
seaborn
sentencepiece
tensorboard
tensorboardx
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
transformers
uri-template
wandb
watchdog
wrapt
